<h3>Nueva tarea</h3>
<div class="card" style="width: 25rem;">
    <div class="card-body">

            <%= form_with model: @todo, local: true do |f| %>


            <%= f.label :description, '¿que tarea quieres anotar?' %>
            <%= f.text_field :description %>

<%# <%= f.label :completed, 'tarea finalizada' %>
<%# <%= f.check_box :completed %> 

            
            <%= f.submit 'enviar' %>
    </div>
</div>
<% end %>

<%= link_to 'back', todos_path %>



 